body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}


header{
    background: #0077b6;
    padding: 15px 40px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin:0;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}


.hero{
    
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 3px #000;
}
.hero h2{
    font-size: 40px;
}
.section{
    padding: 40px 60px;
}

.services, .doctors{
    display: flex;
    justify-content: space-between;
}

.card{
    background: white;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


form{
    background: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    background: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #005f86;
}
footer{
    background: #023e8a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
